<% include partials/header.ejs %>
<div class="page-header">Форма обратной связи</div>
<div id="form-container">
    <form id="contact-form" name="contact-form" method="post">
        <label class="name-label hidden" for="message">Поле не должно быть пустым</label>
        <input type="text" class="name" name="name" id="name" placeholder="Введите ваше имя"/>
        <label class="email-label hidden" for="message">Поле должно содержать корректный Email</label>
        <input type="text" class="email" name="email" id="email" placeholder="Введите ваш email"/>
        <label class="message-label hidden" for="message">Поле не должно быть пустым</label>
        <textarea class="message" id="message" name="message" placeholder="Введите текст обращения"></textarea>
        <button type="button" class="submit-button">Отправить</button>
    </form>
</div>
</body>
</html>