<% include partials/header.ejs %>
<div class="page-header">Блог</div>
<div class="posts-wrapper">
    <% posts.forEach((post, index) => { %>
    <div class="post">
        <div class="header">
            <%- post.title %>
        </div>
        <div class="description">
            <%- post.description %>
        </div>
    </div>
    <% }) %>
</div>
</div>
</body>
</html>