<% include partials/header.ejs %>
<div class="page-header">Новости <img src="https://rss.com/wp-content/uploads/2018/09/social_style_3_rss-512-1.png" class="rss-icon">
</div>
<div class="news-wrapper">
    <input class="search" type="text" placeholder="Search">
</div>
</body>
</html>