.navigation {
    background-color: #676767;
}

.nav-item {
    padding: 10px 25px;
    color: #FFF;
    display: inline-block;
    font-size: 20px;
}

.nav-item:hover {
    color: #FFF;
}

.page-header {
    font-size: 60px;
    font-family: 'Roboto';
    text-align: center;
    color: #656565;
    margin-top: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #c7c7c7;
    position: relative;
}

.post {
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    margin-top: 25px;
}

.post img {
    width: 100% !important;
    height: auto !important;
}

.post .header {
    font-size: 36px;
    color: #f5f5f5;
    background-color: #0000004f;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 35px;
    font-family: 'Roboto';
}

.news-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.news-item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d8d8d8;
}

.news-item .title {
    font-size: 24px;
}

.image {
    width: 50%;
}

.search {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.map-image {
    width: 100%;
    height: auto;
}

#form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    justify-content: center;
    align-items: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    border: 1px solid #d2d2d2;
    box-shadow: 0 0 3px 2px #dadada;
}

#contact-form input,
#contact-form textarea {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

#contact-form label {
    color: red;
}

.rss-icon {
    width: 20px;
    position: absolute;
    top: 25px;
}
